.vs/
obj/
bin/
*.user
/.idea/.idea.HrothRemover/.idea/.gitignore
/.idea/.idea.HrothRemover/.idea/.name
/.idea/.idea.HrothRemover/.idea/indexLayout.xml
/.idea/.idea.HrothRemover/.idea/vcs.xml
/.idea/.idea.OopsAllLalafellsSRE/.idea/workspace.xml
